.inst {
  transition: all 0.6s ease;
}

.inst:hover {
  transform: scale(1.05);
}

.skype {
  transition: all 0.6s ease;
}

.skype:hover {
  transform: scale(1.05);
}

.telegram {
  transition: all 0.6s ease;
}

.telegram:hover {
  transform: scale(1.05);
}

.vk{
  transition: all 0.6s ease;
}

.vk:hover {
  transform: scale(1.05);
}
