:root {
  --color-orange: #F28B64;        /* кнопки, акценты (оранжевый) */
  --color-blue: #5290EA;      /* синий градиентный оттенок */
  --color-text: #1e1e1e;           /* основной текст */
  --color-gray: #E2E2E2;          /* приглушённый текст */
}